$background-color: rgb(55, 55, 55);
$title-color: #ff6868;
$title-light-color: #ffa2a2;
$small: 400px;
$medium: 800px;

// Main container
.container {
  min-width: 75vh;

  background-color: $background-color;
  color: #eaeaea;
}

.content{
  padding: 3rem 0 0 8rem;
  min-height: 100vh;
}

.main {
  min-height: 80vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

// Section + title + description
.main section{
  padding: 2rem 0;
}

.description {
  text-align: left;
  margin: 1rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.titleSection{
  color: $title-color;
  font-size: 4rem;
}

// Footer
.footer {
  padding: 0 8rem;
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

// .footer a {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-grow: 1;
// }

// .grid {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-wrap: wrap;
//   max-width: 800px;
// }

// @media (max-width: 600px) {
//   .grid {
//     width: 100%;
//     flex-direction: column;
//   }
// }

// Card

.card {
  background-color: rgb(82, 82, 82);;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: $title-light-color;
  border-color: $title-light-color;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

// Row and Columns
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 0.2;
}


// .logo {
//   height: 1em;
//   margin-left: 0.5rem;
// }



