
.headerBar {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 11;
    padding: 0px 50px;
    width: 100%;
    backdrop-filter: blur(10px);
  }
  
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    z-index: 12;
  }
  
  .navbar li {
    display: inline;
    list-style: none;
    margin: 0 2rem 0.5em 0;
    padding: 0;
    color:#ff6868;
    font-size: 1rem;
  }
