@import 'developer.module.scss';

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.image{
    width: 50%;
    border-radius: 50%; 
    overflow: hidden;
}

.center{
    margin: 0 10% 0 0%;
    align-items: center;
}
  
.smallTitle
{
    margin: 0 0 0 0;
    text-align: left;
    font-size: 1.5rem;
    color:#eaeaea
}

.code {
    background: rgb(255, 255, 255);
    color: $background-color;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
}

/* Colored Text Animation*/

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideFromLeftBefore {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.wrappedAnimationText{
    margin: 0 0 0 1%;
    line-height: 1.15;
    font-size: 4rem;
    font-weight: bold;

    position: relative;
    display: inline-block;
    color: $title-light-color;
    overflow: hidden;

    .animationText {
        animation: 5s ease 0s 1 slideFromLeft;

        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        &::before {
        animation: 5s ease 0s 1 slideFromLeftBefore;
        display: inline-block;
        content: attr(data-content);
        color: $title-color;
        }
    }

}
